extends index

block content
  h2 Sign Up
  form(action="" method='POST')
    label(for="username") Username
    input(type="text" name='username' placeholder='username')
    label(for="password") Password
    input(type="password" name='password')
    button Sign Up   